<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link href="/style.css" rel="stylesheet" />

    <script src="//unpkg.com/alpinejs" defer></script>

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | [Challenge Name Here]</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body class="font-sans px-4 py-8 bg-white dark:bg-[#1E202A]">
    <div class="max-w-7xl mx-auto">
      <div class="lg:flex lg:justify-between lg:pb-8">
        <div class="pb-4">
          <h1 class="font-bold text-2xl dark:text-white">
            Social Media Dashboard
          </h1>
          <p class="text-gray-400 font-bold">Total Followers: 23,004</p>
        </div>
        <div
          class="pt-4 border-t-2 border-gray-400 flex justify-between pb-12 lg:border-none lg:pb-6"
        >
          <div class="text-gray-400 font-bold lg:mr-2">Dark Mode</div>
          <input
            x-data
            @click="$store.darkMode.toggle()"
            type="checkbox"
            id="hs-basic-usage"
            class="relative w-[2.75rem] h-6 bg-gray-100 checked:bg-none checked:bg-blue-600 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 border border-transparent ring-1 ring-transparent focus:border-blue-600 focus:ring-blue-600 ring-offset-white focus:outline-none appearance-none dark:bg-gray-700 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800
before:inline-block before:w-5 before:h-5 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200"
          />
          <label for="hs-basic-usage" class="sr-only">switch</label>
        </div>
      </div>

      <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-4 lg:gap-8">
        <article
          class="dark:bg-[#252A41] w-full border-t-4 border-blue-500 bg-gray-100 rounded-md text-center p-8"
        >
          <header
            class="text-sm font-bold text-gray-500 mb-6 flex justify-center"
          >
            <img
              alt="Facebook Logo"
              src="/icon-facebook.svg"
              class="mr-2"
            /><span>@nathanf</span>
          </header>
          <content class="text-6xl font-bold dark:text-white">1987</content>
          <aside class="uppercase tracking-widest text-gray-400 mt-1">
            Followers
          </aside>
          <footer
            class="font-bold text-green-500 mt-6 flex justify-center items-center"
          >
            <img alt="Up arrow" src="/icon-up.svg" class="mr-2 h-1 w-2" />12
            today
          </footer>
        </article>
        <article
          class="dark:bg-[#252A41] w-full border-t-4 border-blue-400 bg-gray-100 rounded-md text-center p-8"
        >
          <header
            class="text-sm font-bold text-gray-500 mb-6 flex justify-center"
          >
            <img alt="Twitter logo" src="/icon-twitter.svg" class="mr-2" /><span
              >@nathanf</span
            >
          </header>
          <content class="text-6xl font-bold dark:text-white">1044</content>
          <aside class="uppercase tracking-widest text-gray-400 mt-1">
            Followers
          </aside>
          <footer
            class="font-bold text-green-500 mt-6 flex justify-center items-center"
          >
            <img alt="Up arrow" src="/icon-up.svg" class="mr-2 h-1 w-2" />99
            today
          </footer>
        </article>

        <article
          class="w-full bg-gradient-to-r from-[#FDC468] to-[#DF4996] rounded-md text-center"
        >
          <div class="block h-1">&nbsp;</div>
          <div class="p-8 bg-gray-100 dark:bg-[#252A41]">
            <header
              class="text-sm font-bold text-gray-500 mb-6 flex justify-center"
            >
              <img
                alt="Instagram logo"
                src="/icon-instagram.svg"
                class="mr-2"
              /><span>@realnathanf</span>
            </header>
            <content class="text-6xl font-bold dark:text-white">11k</content>
            <aside class="uppercase tracking-widest text-gray-400 mt-1">
              Followers
            </aside>
            <footer
              class="font-bold text-green-500 mt-6 flex justify-center items-center"
            >
              <img alt="Up arrow" src="/icon-up.svg" class="mr-2 h-1 w-2" />1099
              today
            </footer>
          </div>
        </article>

        <article
          class="dark:bg-[#252A41] w-full border-t-4 border-red-700 bg-gray-100 rounded-md text-center p-8"
        >
          <header
            class="text-sm font-bold text-gray-500 mb-6 flex justify-center"
          >
            <img alt="YouTube logo" src="/icon-youtube.svg" class="mr-2" /><span
              >Nathan F.</span
            >
          </header>
          <content class="text-6xl font-bold dark:text-white">8239</content>
          <aside class="uppercase tracking-widest text-gray-400 mt-1">
            Subscribers
          </aside>
          <footer
            class="font-bold text-red-700 mt-6 flex justify-center items-center"
          >
            <img
              alt="Down arrwo"
              src="/icon-down.svg"
              class="mr-2 h-1 w-2"
            />144 today
          </footer>
        </article>
      </div>

      <h2
        class="font-bold mt-12 text-gray-500 text-2xl tracking-wide mb-6 dark:text-white"
      >
        Overview - Today
      </h2>
      <div
        class="space-y-4 mb-12 lg:space-y-0 lg:grid lg:grid-cols-4 lg:gap-8 max-w-7xl mx-auto"
      >
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Page Views</h3>
            <logo><img alt="Facebook Logo" src="/icon-facebook.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">87</content>
            <aside class="font-bold text-green-500 flex text-sm items-center">
              <img alt="Up arrow" src="/icon-up.svg" class="h-1 w-2 mr-2" />
               3%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Likes</h3>
            <logo><img alt="Facebook Logo" src="/icon-facebook.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">52</content>
            <aside class="font-bold text-red-500 flex text-sm items-center">
              <img alt="Down arrwo" src="/icon-down.svg" class="h-1 w-2 mr-2" />
               2%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Likes</h3>
            <logo><img alt="Instagram logo" src="/icon-instagram.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">5462</content>
            <aside class="font-bold text-green-500 flex text-sm items-center">
              <img alt="Up arrow" src="/icon-up.svg" class="h-1 w-2 mr-2" />
               2257%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Profile Views</h3>
            <logo><img alt="Instagram logo" src="/icon-instagram.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">52k</content>
            <aside class="font-bold text-green-500 flex text-sm items-center">
              <img alt="Up arrow" src="/icon-up.svg" class="h-1 w-2 mr-2" />
               1375%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Retweets</h3>
            <logo><img alt="Twitter logo" src="/icon-twitter.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">117</content>
            <aside class="font-bold text-green-500 flex text-sm items-center">
              <img alt="Up arrow" src="/icon-up.svg" class="h-1 w-2 mr-2" />
               303%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Likes</h3>
            <logo><img alt="Twitter logo" src="/icon-twitter.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">507</content>
            <aside class="font-bold text-green-500 flex text-sm items-center">
              <img alt="Up arrow" src="/icon-up.svg" class="h-1 w-2 mr-2" />
               553%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Likes</h3>
            <logo><img alt="YouTube logo" src="/icon-youtube.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">107</content>
            <aside class="font-bold text-red-500 flex text-sm items-center">
              <img alt="Down arrwo" src="/icon-down.svg" class="h-1 w-2 mr-2" />
               19%
            </aside>
          </div>
        </article>
        <article class="w-full rounded-md bg-gray-100 dark:bg-[#252A41] p-5">
          <div class="flex justify-between items-center mb-6">
            <h3 class="font-bold text-gray-400 text-sm">Total Views</h3>
            <logo><img alt="YouTube logo" src="/icon-youtube.svg" /></logo>
          </div>
          <div class="flex justify-between items-baseline">
            <content class="font-bold text-3xl dark:text-white">1407</content>
            <aside class="font-bold text-red-500 flex text-sm items-center">
              <img alt="Down arrwo" src="/icon-down.svg" class="h-1 w-2 mr-2" />
               12%
            </aside>
          </div>
        </article>
      </div>

      <div class="attribution">
        Challenge by <a
          href="https://www.frontendmentor.io?ref=challenge"
          target="_blank">Frontend Mentor</a
        >. Coded by <a href="#">Your Name Here</a>.
      </div>
    </div>

    <script>
      document.addEventListener("alpine:init", () => {
        Alpine.store("darkMode", {
          init() {
            if (
              localStorage.theme === "dark" ||
              (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
          },
          on: false,

          toggle() {
            this.on = !this.on;
            if (this.on) {
              localStorage.theme = "dark";
            } else {
              localStorage.theme = "light";
            }

            if (
              localStorage.theme === "dark" ||
              (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
          },
        });
      });
    </script>
  </body>
</html>
